@font-face {
  font-family: 'black';
  src: url('../fonts/blackjack.otf');
}

$primary-color: #000;
$secondary-color: #fff;
$blue: #4bcaff;

$primary-font: sans-serif;
$secondary-font: Monaco, sans-serif;



