@font-face {
  font-family: 'black';
  src: url("../fonts/blackjack.otf");
}
@-moz-keyframes animateBar {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes animateBar {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  outline: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  font: sans-serif;
  color: #000;
  background-color: Monaco, sans-serif;
}

.row, .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ml-a {
  margin-left: auto !important;
}

.mr-a {
  margin-right: auto !important;
}

.sm-only {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .sm-only {
    display: initial;
  }

  .bg-only {
    display: none !important;
  }
}
.header {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 600px;
  width: 100%;
}
.header .navbar-inverse {
  background: black;
  opacity: .6;
  padding: 10px 0 5px;
}
.header .navbar-inverse .navbar-nav {
  margin-left: auto;
  margin-right: 70px;
}
.header .navbar-inverse .navbar-nav .nav-item {
  padding: 0 15px;
  border: 1.5px solid transparent;
  color: white;
  margin-left: 40px;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: color 0.8s, border-color 0.8s;
}
.header .navbar-inverse .navbar-nav .nav-item:hover {
  cursor: pointer;
  color: #4bcaff;
  border-color: #4bcaff;
}
.header .navbar-inverse .navbar-brand {
  color: #4bcaff;
  font-family: 'black', sans-serif;
  font-size: 2.1rem;
}

.header .header-content {
  margin-top: 200px;
  text-align: center;
}
.header .header-content h3 {
  display: inline-block;
  background: black;
  opacity: .6;
  padding: 10px 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: 100;
  font-family: sans-serif;
}
.header .header-content .title {
  padding: 10px 30px;
}
.header .header-b {
  background: black;
  opacity: .6;
  padding: 40px 0 5px;
  margin-top: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .container-fluid {
    position: relative;
  }

  .container, .navbar {
    position: initial;
    width: 100%;
  }

  .header {
    min-height: 100vh;
  }
  .header .navbar-inverse .navbar-brand {
    margin-left: 12px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .header .navbar-inverse .navbar-toggler {
    z-index: 9;
    top: 20px;
    margin-left: auto;
    height: 2.2em;
  }
  .header .navbar-inverse .navbar-toggler .navbar-toggler-icon {
    background: #fff;
    height: 1.5px;
    position: relative;
  }
  .header .navbar-inverse .navbar-toggler .navbar-toggler-icon::after, .header .navbar-inverse .navbar-toggler .navbar-toggler-icon::before {
    content: '';
    background: #fff;
    width: 1.5em;
    height: 1.5px;
    position: absolute;
    left: 0;
    transition: transform .5s, background .5s;
  }
  .header .navbar-inverse .navbar-toggler .navbar-toggler-icon::after {
    top: -10px;
  }
  .header .navbar-inverse .navbar-toggler .navbar-toggler-icon::before {
    bottom: -10px;
  }
  .header .navbar-inverse .navbar-toggler .open-toggler {
    background: transparent;
  }
  .header .navbar-inverse .navbar-toggler .open-toggler::after {
    top: 0;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
  .header .navbar-inverse .navbar-toggler .open-toggler::before {
    bottom: 0;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  .header .navbar-inverse .navbar-collapse {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    padding-bottom: 50px;
    z-index: 4;
    height: 100%;
  }
  .header .navbar-inverse .navbar-collapse .navbar-nav {
    margin-top: 90px;
  }
  .header .navbar-inverse .navbar-collapse .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.8rem;
    font-weight: 100;
  }

  .header .header-content {
    margin-top: 100px;
  }
  .header .header-content h3 {
    font-size: 1.3rem;
  }
}
.works {
  padding-top: 40px;
  padding-bottom: 80px;
}
.works .title {
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
  color: #4bcaff;
}
.works .title::before {
  content: '';
  background-color: #4bcaff;
  height: 3px;
  width: 55px;
  position: absolute;
  bottom: -2px;
  left: 3px;
}
.works #works-list {
  margin-top: 50px;
}
.works #works-list .photo {
  position: relative;
  cursor: pointer;
  height: 200px;
  max-width: 31.333333%;
  margin-right: 10px;
  padding: 0;
}
.works #works-list .photo:hover .img-caption {
  opacity: 1;
}
.works #works-list .photo .img-thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
}
.works #works-list .photo .img-caption {
  position: absolute;
  background-color: #353f47;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 2px;
  transition: opacity 0.9s;
  text-align: center;
}
.works #works-list .photo .img-caption .name {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 60px;
  letter-spacing: 1px;
  font-weight: 100;
}
.works #works-list .photo .img-caption .btns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 45px;
}
.works #works-list .photo .img-caption .btns:hover .btn-github {
  border-right-color: #4bcaff;
}
.works #works-list .photo .img-caption .btns:hover .btn-demo {
  border-left-color: #4bcaff;
}
.works #works-list .photo .img-caption .btns .btn {
  color: #fff;
  border: 1px solid #eee;
  font-weight: 100;
  width: 130px;
  border-radius: 0;
  transition: color 0.5s, border-color 0.5s;
}
.works #works-list .photo .img-caption .btns .btn:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}
.works #works-list .photo .img-caption .btn-demo {
  margin-left: -5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .works .title {
    font-size: 1.5rem;
  }
  .works #works-list .photo {
    max-width: 100%;
    margin-right: 0;
  }
  .works #works-list .photo .img-caption .name {
    font-size: 1.1rem;
    margin-top: 40px;
  }
  .works #works-list .photo .img-caption .btns {
    width: 100%;
    margin-top: 45px;
  }
  .works #works-list .photo .img-caption .btns .btn {
    width: 100px;
    padding: .3rem 0rem;
  }
}
.about-me {
  background: url("../images/pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.about-me .title {
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
  margin-top: 30px;
  color: #fff;
}
.about-me .title::before {
  content: '';
  background-color: #fff;
  height: 3px;
  width: 105px;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.about-me .leads {
  font-size: 1.2rem;
  font-weight: 100;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .about-me .title {
    font-size: 1.5rem;
  }
  .about-me .leads {
    font-size: 1.1rem;
  }
}
.footer {
  background-color: #353f47;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}
.footer .rights {
  margin-right: auto;
  margin-top: auto;
}
.footer .rights .title {
  font-size: 1.1rem;
  padding-top: 70px;
  font-weight: 200;
}
.footer .rights .title i {
  color: #c9302c;
}
.footer .rights .title span {
  font-family: 'black', sans-serif;
  font-size: 18px;
}
.footer .contacts .title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
}
.footer .contacts .social {
  text-align: center;
  margin-top: 30px;
}
.footer .contacts .social .icon {
  color: #eee;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #eee;
  padding: 6px 11px 6px 18px;
  transition: color 0.5s, border-color 0.5s;
}
.footer .contacts .social .icon:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}
.footer .contacts .social .icon.icon-em {
  padding-right: 17px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .footer .rights .title {
    font-size: 0.9rem;
    padding-top: 0;
    line-height: 1.5;
  }
  .footer .rights .title span {
    font-size: 18px;
  }
  .footer .contacts .title {
    font-size: 1.1rem;
    margin-top: 30px;
  }
  .footer .contacts .social .icon-em {
    margin-right: 0;
  }
  .footer .contacts .social .icon-fb {
    margin-left: 0;
  }
}
